a {
    text-decoration: none;
}

.con {
    text-align: center;
}

hr {
    width: 120px;
}

.or {
    display: flex;
}

button {
    background-color: dodgerblue;
    border: none;
    color: white;
    padding: 10px 20px;
    width: 237px;
    border-radius: 7px;
    cursor: pointer;
}

input[type="text"],
input[type="password"] {
    padding: 7px;
    width: 220px;


}

.form {
    margin-top: 40px;
}

.logo {
    margin-top: 40px;
}